
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">-->


<div class="container">
	<h1> Election Tipping </h1>

	<div class="page">

		
	</div>
	
	<div class="chart"></div>
	<div class="test"></div>

	<br>
	<br>


<div id="biocontent" style="display:none">
	<div class="bio info">
	<h2>Click on a candidate for more info</h2>
	</div>
	<div class="bio clinton">
	    <img src="http://www.abac.edu/wp-content/uploads/2013/01/democrat-logo.png" img class="logo">
	        <h2>Hillary Clinton</h2> 
	            <a href="https://www.hillaryclinton.com/"><img src="http://i.imgur.com/VVus0at.jpg?1"></a>
	         <a href="https://en.wikipedia.org/wiki/Hillary_Clinton">Wikipedia Page</a> 
	</div>

	<div class="bio sanders">
	    <img src="http://www.abac.edu/wp-content/uploads/2013/01/democrat-logo.png" img class="logo"> 
	        <h2>Bernie Sanders</h2>
	            <a href="https://secure.berniesanders.com/"><img src="http://i.imgur.com/gNamezs.jpg?1"></a>    
	        <a href="https://en.wikipedia.org/wiki/Bernie_Sanders">Wikipedia Page</a> <br>
	</div>


	<div class="bio rubio">
	    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/2000px-Republicanlogo.svg.png" img class="logo">
	        <h2>Marco Rubio</h2>
	             <a href=""https://marcorubio.com/""><img src="http://i.imgur.com/aK8zEgb.jpg?1"></a>
	        <a href="https://en.wikipedia.org/wiki/Marco_Rubio">Wikipedia Page</a> <br>
	</div>


	<div class="bio trump">
	    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/2000px-Republicanlogo.svg.png" img class="logo">
	        <h2>Donald Trump</h2>
	            <a href="https://www.donaldjtrump.com/"><img src="http://i.imgur.com/dfE8qHK.jpg?1"></a>    
	        <a href="https://en.wikipedia.org/wiki/Donald_Trump">Wikipedia Page</a> <br>
	</div>


	<div class="bio bush">
	    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/2000px-Republicanlogo.svg.png" img class="logo">
	        <h2>Jeb Bush</h2>
	            <a href="https://jeb2016.com/?lang=en"><img src="https://qph.is.quoracdn.net/main-thumb-t-33103-200-byvvznwiyapvmefbdliexfitsxdvjpqf.jpeg"></a>
	        <a href="https://en.wikipedia.org/wiki/Jeb_Bush">Wikipedia Page</a> <br>
	</div>

	<div class="bio carson">
	    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/2000px-Republicanlogo.svg.png" img class="logo"> 
	        <h2>Ben Carson</h2>
	            <a href="https://www.bencarson.com/"><img src="http://dehayf5mhw1h7.cloudfront.net/wp-content/uploads/sites/68/2015/11/06064014/ben-carson-oct-2015-billboard-650-200x200.jpg"></a>
	        <a href="https://en.wikipedia.org/wiki/Ben_Carson">Wikipedia Page</a> <br>
	</div>


	<div class="bio christie">
	    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/2000px-Republicanlogo.svg.png" img class="logo"> 
	        <h2>Chris Christie</h2>
	            <a href="https://www.chrischristie.com/"><img src="http://rs122.pbsrc.com/albums/o244/race42008/ChrisChristieR412.jpg~c200"></a>    
	        <a href="https://en.wikipedia.org/wiki/Chris_Christie">Wikipedia Page</a> <br>
	</div>

	<div class="bio cruz">
	    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/2000px-Republicanlogo.svg.png" img class="logo"> 
	        <h2>Ted Cruz</h2>
	            <a href="https://www.tedcruz.org/"><img src="http://dailysignal.com/wp-content/uploads/Cruz-Headshot-2-200x200.jpg"></a>    
	        <a href="https://en.wikipedia.org/wiki/Ted_Cruz">Wikipedia Page</a> <br>
	</div>
</div>
